@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 36%;
  --primary: 0 0% 0%;
  --muted: 43 30% 95%;
  --radius: 0.5rem;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
